@media (min-width: 640px) {
    .greenie {
    padding-top: 7rem;
    margin-left: 10rem;
    }
}

.bg-container{
    background-color: #F2F4F8;
}

.bg-img{
    display: block;
    max-width: 50%;
    height: auto;
    padding-top: 4rem;
    position: absolute;
    top: 0;
    right: 0;
    pointer-events: none;
}