@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'DM Sans', sans-serif;
}

.signIn{
  margin-left: auto;
  margin-right: 2rem;
}

.btn-signIn{
  border: 1px solid #000000;
  font-weight: bold;
  text-transform: none;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}

.btn-signIn:hover{
  background-color: #aaaaaa63;
}

.icon {
    width: 16px;
    height: 16px;
}